.Card{
    margin: 30px 15px;
    padding: 3px;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background-color:#e6b3ff;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

   
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}
.Card:hover {

    box-shadow: purple 0px 10px 20px, rgba(0, 0, 0, 0.2) 0px 6px 6px;

    
    border: 1px solid transparent;
   
    background-origin: border-box;
    background-clip: content-box, border-box;
}


.jewel-img{
    height: 200px;

}
.price{
    font-size: 17px;
    font-weight: 900;
    color: purple;
    text-decoration: none;
}
.type{
    font-size: 17px;
    font-weight: 900;
    color: black;
    text-decoration: none;
}
.metalused{
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.info{
    margin-top: 200px;
    position: absolute;
}
