.jewelerie-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px 30px;
    background: rgb(181, 149, 181);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    margin-top: 20px;
    padding: 20px;
}
.jewelerie-detail-img {
    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(243, 240, 242, 0.4) -5px 5px, rgba(183, 177, 181, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(91, 84, 88, 0.1) -20px 20px, rgba(61, 55, 59, 0.05) -25px 25px;
}
.header{
    text-align: center;
}
.key-value-div {
    margin-top: 25px;
}

.jewellery-key {
    font-size: 30px;
    font-weight: 500;
    color: purple;

}

.jewellery-value {
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}
.btn-delete {
    background: linear-gradient(135deg, #f44336, #e53935);
    width: 80px;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80rem;
}

.btn-delete:hover {
    background: linear-gradient(135deg, #e2201c, #931414);
}
.btn-edit {
    background: green;
    width: 80px;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-edit:hover {
    background: linear-gradient(135deg, #7e0705, #aa2626);
}