.background-color{
    background-color: #e6b3ff;

   
}
.card-container {
    display: flex; 
    justify-content:space-evenly; 
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 10px;
    margin-top: 50px;
    position: absolute;
    overflow-y: scroll;
    
}
.btn{
    height: 50px;
    width: 300px;
    background-color: purple;
    color: beige;
    margin-left: 600px;
    margin-top: 100px;
    border-radius: 50px;
    cursor: pointer;
}